@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(23, 24, 28);
}

.top {
  padding: 50px 90px 0px 90px;

  display: flex;
  justify-content: space-between;
}

img {
  width: 400px;
  height: 467px;
}

.written {
  display: flex;
  flex-direction: column;
  margin-right: 130px;
}

.written > button {
  width: 200px;
  height: 60px;
  background: #27ae60;
  border-radius: 8px;
  border: 1px solid black;
  cursor: pointer;
  margin-top: 30px;
  margin-left: auto;

  justify-content: center;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.written > button:hover {
  opacity: 0.8;
  border: 1px solid white;
}

.letters_box {
  height: 68px;
  margin-top: 250px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.letters {
  width: 30px;
  border-bottom: 2px white solid;

  display: flex;
  justify-content: center;

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 68px;

  color: gray;
}

.letters_green {
  width: 30px;
  border-bottom: 2px white solid;

  display: flex;
  justify-content: center;

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 68px;

  color: green;
}

.letters_red {
  width: 30px;
  border-bottom: 2px white solid;

  display: flex;
  justify-content: center;

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 68px;

  color: red;
}

.buttons {
  width: 100%;
  height: 91px;
  gap: 30px;
  padding: 60px 175px 0px 175px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button_locked {
  width: 40px;
  height: 40px;

  background: #9faab5;
  border-radius: 3px;
  border: 1px solid #7aa7c7;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #798a9f;
}

.button_unlocked {
  width: 40px;
  height: 40px;
  cursor: pointer;

  background: #e1ecf4;
  border: 1px solid #7aa7c7;
  border-radius: 3px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #798a9f;
}

.button_unlocked:hover {
  opacity: 0.8;
  border: 1px solid white;
}
